/*.nav-tabs > li{border-radius: 5px 5px 0 0; margin: 0 2px;}*/
/*.nav-tabs > li > a{font-weight: normal;}*/
/*.sidebar-content .panel-heading{border-radius: 7px;}*/
/*.sidebar-content .panel-heading.active-faq{ border-radius: 7px 7px 0 0;}*/
/*.content-list-deta ul.questions-list { margin-left: 20px; }*/
/*.questions-list li a { text-transform: capitalize; }*/
/*.btn-matching{ background-color: #df6919; color: #fff;}*/
/*.btn-matching:hover{ background-color: #FF693E; color: #fff;}*/

/*its for ajax loader*/
/*.ajax-loader-class {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*border: 16px solid #f3f3f3;*/
    /*border-radius: 50%;*/
    /*border-top: 16px solid #3498db;*/
    /*width: 120px;*/
    /*height: 120px;*/
    /*-webkit-animation: spin 2s linear infinite; *//* Safari */
    /*animation: spin 2s linear infinite;*/
/*}*/

/* Safari */
/*@-webkit-keyframes spin {*/
    /*0% { -webkit-transform: rotate(0deg); }*/
    /*100% { -webkit-transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/
/*end for ajax loader*/

/*.datepicker {*/
    /*top: 1010px !important;*/
    /*top: 826px !important;*/
/*}*/

/*.pauseResume.is-countdown{*/
    /*border: none !important;*/
    /*background-color: inherit !important;*/
/*}*/
/*.sidebar-content .panel-title i{*/
     /*padding-right: 5px;*/
/*}*/
/*.orange_btn{*/
    /*background-color: #df6919*/
/*}*/
/*.cke_bottom{*/
    /*background: #002448 !important;*/
/*}*/
/*a.cke_path_item, span.cke_path_empty {*/
    /*color: #fff !important;*/
/*}*/
/*.cke_editor_message {*/
    /*border: 1px solid #002645 !important;*/
    /*border-radius: 5px !important;*/
/*}*/
/*.cke_wordcount span{*/
    /*color: #fff !important;*/
/*}*/
/*.cke_inner body {*/
    /*margin: 5px !important;*/
/*}*/
/*.table-responsive > table tr > td::before{*/
    /*text-transform: capitalize;*/
/*}*/
/*ul.is-countdown.pauseResumePopup.simple-timer{*/
    /*border: none;*/
    /*background-color: inherit;*/
/*}*/

/*.btn-primary-no-border{*/
    /*color: #fff;*/
/*}*/

/*.simple-popup .title{*/
    /*color: white;*/
/*}*/

/*.next-btn-bg {*/
    /*padding: 10px 15px;*/
/*}*/

/*.all-reports .main-select-dropdown .select-selected {*/
    /*width: 280px;*/
/*}*/

/*.form-control-div-search{*/
    /*display: inline-block;*/
/*}*/

/*.form-control-div-search .form-control{*/
    /*height: 40px;*/
/*}*/
/*.searchbar button{*/
    /*z-index: 0;*/
/*}*/

/*.tiles-content-header a{*/
    /*color: #1d1d1d;*/
/*}*/
/*.dashboard .tiles-content ul li{*/
/*list-style: disc;*/
/*}*/

/*.dashboard .tiles-content ul {*/
    /*margin-left: 20px;*/
/*}*/

/*.like-div{*/
    /*display: inline-block;*/
    /*float: right;*/
    /*color: gray;*/
    /*margin-top: 10px;*/
/*}*/
/*.like-div a,.like-div a:active,.like-div a:hover,.like-div a:focus{*/
    /*color: gray;*/
    /*text-decoration: none;*/
    /*font-size: 36px;*/
    /*cursor: pointer;*/
    /*margin: 10px;*/

/*}*/
/*.question-discuss .like-thumb .radio-button.like{*/
    /*margin-right: inherit;*/
/*}*/

/*.like-thumb .radio-button{*/
    /*margin: 0;*/
/*}*/
/*.records-null {*/
    /*font-size: 18px;*/
 /*}*/

/*h3.my-course-title {*/
    /*font-size: 18px;*/
/*}*/

/*a.buy-now-btn {*/
    /*font-size: 14px !important;*/
    /*background: #ED6500;*/
    /*margin-left: 12px;*/
    /*padding: 1px 5px !important;*/
    /*border-radius: 4px;*/
    /*color: #fff !important;*/
/*}*/
/*a.buy-now-btn.free-btn{*/
    /*background: #4fd473;*/
    /*color: #000 !important;*/
/*}*/
/*.tab-main-bg {*/
    /*padding-top: 15px;*/
/*}*/
/*span.pull-right.lock-icon {*/
    /*display: none;*/
/*}*/
/*.nopadding {*/
   /*padding: 0 !important;*/
   /*margin: 0 !important;*/
/*}*/
/*.my-course .pagination {*/
    /*width: 100%;*/
/*}*/
/*.my-course .pagination li{*/

/*}*/
/*div#suggesstion-box {*/
    /*max-height: 220px;*/
    /*overflow: auto;*/
/*}*/
/*.question-tag section,*/
/*.question-tag section p,*/
/*.question-tag section div,*/
/*.question-tag section span*/
/*{*/
    /*color: #1d1d1d;*/
    /*font-size: 16px;*/
    /*margin-bottom: 5px;*/

/*}*/

/*.question-tag section a*/
/*{*/
  /*font-size: 16px;*/
  /*margin-bottom: 5px;*/
/*}*/

/*.question-tag section{*/
    /*margin-bottom: 25px;*/
/*}*/

/*For override  in fronend quiz reports */
/*.explanation-details span*/
/*{*/
      /*font-size: 15px !important;*/
/*}*/
/*.explanation-details a*/
/*{*/
      /*font-size: 15px !important;*/
/*}*/
/*.question-tag span*/
/*{*/
      /*font-size: 16px !important;*/
/*}*/
/* i added this for quiz question text  -viyash*/
/*#quiz_question_text ul*/
/*{*/
      /*list-style-type: disc;*/
      /*list-style-position: inside;*/
      /*margin-left: 20px;*/
/*}*/

/*.question-text span*/
/*{*/
      /*font-size: 19px !important;*/
/*}*/

/*#ScrollTop_Btn {*/
  /*display: none;*/
  /*position: fixed;*/
  /*bottom: 20px;*/
  /*right: 30px;*/
  /*z-index: 99;*/
  /*font-size: 18px;*/
  /*border: none;*/
  /*outline: none;*/
  /*background-color: #df6919;*/
  /*color: white;*/
  /*cursor: pointer;*/
  /*padding: 15px;*/
  /*border-radius: 4px;*/
/*}*/

/*#ScrollTop_Btn:hover {*/
  /*background-color: #b5b4b4;*/
/*}*/

.pagination ul li span {
    font-size: 14px;
    color: #595959;
    padding: 4px 15px;
    transition: 0.3s ease-in-out;
}
.bg-green{
    background: #ade7ab !important;
}
.mark-for-review-attend{
    background: #ade7ab !important;
    border: 2px solid #f85327;
}
.mark-for-review-nonattend{
    border: 2px solid #f85327;
}
.numer_question.active{
    border: 5px solid #c0bdf1 !important;
}
.is-countdown {
    background: transparent;
    border-color: transparent;
}
body.open-modal-like .modal-like{
    opacity: 1;
    visibility: visible;
}

body.open-case-study .case-study{
    opacity: 1;
    visibility: visible;
}

body.open-ask-to-buy #ask_buy{
    opacity: 1;
    visibility: visible;
}

.btn-free {
    background-color: #4dab6c;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 8px 22px;
    border-radius: 16px;
    margin: 0;
}
.review-ans img{
    width: auto;
    max-width: 100%;
    height: auto;
}
.que-group img {
    max-width: 100%;
    width: auto;
    height: auto;
}

#header-course-search-result-full-view{
  max-height: none !important;
}

#header-course-search-result-mobile-view{
  max-height: none !important;
}
.infinite-scroll ul.pagination{display: none;}
