@charset "UTF-8";

@font-face {
  font-family: "lms";
  src:url("fonts/lms.eot");
  src:url("fonts/lms.eot?#iefix") format("embedded-opentype"),
    url("fonts/lms.woff") format("woff"),
    url("fonts/lms.ttf") format("truetype"),
    url("fonts/lms.svg#lms") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lms" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lms" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity1:before {
  content: "\61";
}
.icon-ask:before {
  content: "\62";
}
.icon-clock:before {
  content: "\63";
}
.icon-course1:before {
  content: "\64";
}
.icon-cross:before {
  content: "\65";
}
.icon-dashbord:before {
  content: "\66";
}
.icon-diamond:before {
  content: "\67";
}
.icon-fb:before {
  content: "\68";
}
.icon-gplus:before {
  content: "\69";
}
.icon-greter-sign:before {
  content: "\6a";
}
.icon-inbox1:before {
  content: "\6b";
}
.icon-mark:before {
  content: "\6c";
}
.icon-linkedin:before {
  content: "\6d";
}
.icon-user1:before {
  content: "\6e";
}
.icon-twitter:before {
  content: "\6f";
}
.icon-star:before {
  content: "\70";
}
.icon-question:before {
  content: "\71";
}
.icon-notification:before {
  content: "\72";
}
.icon-notes-right:before {
  content: "\73";
}
.icon-notes1:before {
  content: "\74";
}
.icon-sad-emoji:before {
  content: "\75";
}
.icon-happy-emoji:before {
  content: "\76";
}
.icon-play:before {
  content: "\77";
}
.icon-pause:before {
  content: "\78";
}
.icon-close:before {
  content: "\79";
}
.icon-right:before {
  content: "\7a";
}
.icon-incorrect:before {
  content: "\42";
}
.icon-correct:before {
  content: "\41";
}
.icon-gift-box:before {
  content: "\43";
}
.icon-search:before {
  content: "\44";
}
.icon-console:before {
  content: "\45";
}
.icon-close-circle:before {
  content: "\46";
}
.icon-questionmark:before {
  content: "\47";
}
.icon-square-curve:before {
  content: "\48";
}
.icon-corporate:before {
    content: "\4b";
}